<h1>Edit Article</h1>
<h1> <%= @article.id %>  </h1>
<h1> <%= @article.title %>  </h1>
<h1> <%= @article.body %>  </h1>
<%= render partial: "form", locals: { forwardPass: update_post_path(@article.id) } %>