<div class="d-flex align-items-center justify-content-center">
  <h1 class="my-4">Edit Page</h1>
</div>
<%= render partial: "form", locals: { forwardPass: update_post_path(@article.id), btnTitle: "Edit" } %>