<div class="d-flex flex-column align-items-center justify-content-center">
  <h1 class="my-4">Create New Posts</h1>
</div>
<%= render partial: "form", locals: { forwardPass: create_post_path, btnTitle: "Create" } %>
